.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5FA8D3;
}

.form-container {
    width: 650px;
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 50px #555;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.firstName,
.lastName,
.email,
.phoneNumber,
.continent,
.date,
.radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.firstName,
.lastName,
.email,
.phoneNumber,
.continent,
.date {
    width: 49%;
}

.phoneNumber,
.lastName,
.date {
    margin-left: 1%; 
}

.email,
.firstName,
.continent {
    margin-right: 1%;
}

.gender, .checkbox {
    width: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    color: #111;
}

label {
    font-size: 21px;
    color: rgb(82, 75, 75);
    margin-bottom: 0.25em;
}

input, select {
    padding: 10px 10px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #5FA8D3;
}

input::placeholder, select {
    font-size: 18px;
    color: #999;
}

legend {
    font-size: 21px;
    color: #222;
}

fieldset {
    border: 1px solid #5FA8D3;
    border-radius: 7px;
    color: #222;
}

select {
    color: #222;
}

/* button */

.submitBtn {
    background-color: #5FA8D3;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 21px;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    cursor: pointer;
    border-radius: 7px;
}

.submitBtn:hover {
    color: #5FA8D3;
    background-color: #fff;
    border: 2px solid #5FA8D3;
}

/* custom radio buttons */

.customRadio,
.customCheckbox {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customRadio input, 
.customCheckbox input  {
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.checkmarkRadio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #5FA8D3;
    border-radius: 50%;
}

.customRadio:hover input ~ .checkmarkRadio, 
.customCheckbox:hover input ~ .checkmarkBox {
    background-color: #ccc;
}

.customRadio input:checked ~ .checkmarkRadio,
.customCheckbox input:checked ~ .checkmarkBox {
    background-color: #2196F3;
}

.checkmarkRadio:after,
.checkmarkBox::after {
    content: "";
    display: none;
    position: absolute;
}

.customRadio input:checked ~ .checkmarkRadio:after,
.customCheckbox input:checked ~ .checkmarkBox:after {
    display: block;
}

.customRadio .checkmarkRadio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* custom checkboxes */

.checkbox label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap; 
    vertical-align: middle;
}

.checkbox input {
    vertical-align: middle;
  }

.checkmarkBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #5FA8D3;
    background-color: #eee;
    border-radius: 7px;
}

.customCheckbox .checkmarkBox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* errors */

.error {
    border: 1px solid tomato;
    background-color: rgba(255, 0, 0, 0.200);
}